/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 페이지 기본 스타일 */
body {
  background-color: #f6f5f1;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Header 스타일 */
header {
  background-color: #083459;
  color: white;
  text-align: center;
  margin: 0;
  height: 200px;
  padding: 40px 0 0 0;
}

.header-text span {
  color: yellow;
}

/* Main 스타일 */
.portfolio-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0 0 0;
}

.item {
  text-align: center;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.main-image {
  width: 250px;
  height: 150px;
  margin: 20px 0 10px 0;
  border-radius: 10px;
}

/* Footer 스타일 */
footer {
  text-align: center;
  padding: 20px;
  background-color: #083459;
  color: white;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

footer li a {
  color: green;
  text-decoration: none;
}
